@import url('https://fonts.googleapis.com/css?family=Catamaran|Lato:300');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.panel {
    height: 100vh;
    width: 50vw;
    position: absolute;
    top: 0;
    font-family: "Catamaran", sans-serif;
}

#left-panel {
    left: 0;
    background: #efefef;
}

#right-panel {
    right: 0;
}

.panel .content {
    position: relative;
    display: block;
    margin: 0rem 4rem;
    padding: 2rem 2rem;
    top: 50%;
    transform: translateY(-50%);
}

.panel .name {
    color: #151515;
    font-size: 4rem;
    line-height: 1;
}

.panel .description {
    color: #555555;
    font-size: 1.75rem;
    margin-top: 1.75rem;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    line-height: 1.25;
}

.panel .link {
    font-size: 1.5rem;
}

.panel .link a {
    text-decoration: none;
    color: #222;
    line-height: 2;
}

@media (max-width: 800px) {
    body {
        overflow: auto;
    }
    .panel {
        height: auto;
        width: 100%;
        position: relative;
    }
    .panel .content {
        top: 0;
        margin: 0;
        padding: 4rem 2rem;
        transform: translateY(0);
    }
}
