@import url("https://fonts.googleapis.com/css?family=Average+Sans|Average");
::-moz-selection {
  background: #333;
  color: #fefefe;
  text-shadow: none;
}

::selection {
  background: #333;
  color: #fefefe;
  text-shadow: none;
}

.ave {
  font-family: "Average", serif;
}

.ave-sans {
  font-family: "Average Sans", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background: #fefefe;
  font-family: "Average Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Average", serif;
}

a {
  color: #924444;
}

a:hover {
  color: #813c3c;
}

.container-main {
  margin-top: 8rem;
  margin-bottom: 6rem;
  line-height: 1.75;
}

@media (max-width: 768px) {
  .container-main {
    margin-top: 0;
  }
}

.container-main .logo {
  display: block;
  position: absolute;
  width: 4rem;
  height: 4rem;
  background: #924444;
  -webkit-transform: translate(2rem, -2rem);
          transform: translate(2rem, -2rem);
  z-index: 99;
}

.container-main .logo .K {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  color: #fefefe;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .container-main .logo {
    position: relative;
    width: 100%;
    height: 6rem;
    margin-bottom: 1rem;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.container-main .blog-link {
  display: block;
  float: right;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  color: #cccccc;
}

.container-main .blog-link.transform {
  padding: 1rem 0;
  -webkit-transform: translate(0rem, -3rem);
          transform: translate(0rem, -3rem);
}

@media (max-width: 768px) {
  .container-main .blog-link {
    float: none;
    text-align: center;
    -webkit-transform: translate(0, 0) !important;
            transform: translate(0, 0) !important;
  }
}

.container-main h1 {
  position: relative;
  display: block;
  width: auto;
  background: #333;
  text-align: center;
  padding: 15rem 20% 15rem 20% !important;
  margin-bottom: 2rem;
  color: white;
  line-height: 0.75;
  z-index: -1;
}

@media (max-width: 768px) {
  .container-main h1 {
    padding: 12rem 1rem;
  }
}

.container-main h1.index {
  padding: 4rem 20%;
}

@media (max-width: 768px) {
  .container-main h1.index {
    padding: 6rem 1rem;
  }
}

.container-main h1 .subtitle {
  font-size: 1.5rem;
}

.container-main h1::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(146, 68, 68, 0.2);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.container-main h2, .container-main h3, .container-main h4, .container-main h5, .container-main h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 900;
}

.container-main p {
  margin: 0;
  margin-bottom: 0.75rem;
  font-size: 1.15rem;
  font-weight: 300;
}

.container-main pre > code {
  display: block;
  position: relative;
  padding: 1rem;
  width: auto;
  background: #f8f8f8;
}

.container-main pre.prettyprint {
  border: none !important;
}

.container-main center {
  display: block;
  position: relative;
  width: 60%;
  left: 20%;
}

@media (max-width: 768px) {
  .container-main center {
    width: 100%;
    left: 0;
  }
}

.container-main blockquote {
  margin: 1rem 0;
  padding: 0 2rem;
  text-align: center;
}

.container-main .date {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
  color: #777;
}

.container-main img {
  margin: 1rem 0;
  width: 100%;
}

.container-main > p {
  text-align: justify;
}

.article-container {
  margin-top: 3rem;
  background: white;
}

.article-container .article {
  display: block;
  text-decoration: none;
  text-align: center;
  margin-bottom: 2rem;
}

.article-container .article .heading {
  font-size: 1.25rem;
  margin: 0;
  color: #333;
}

.article-container .article .heading, .article-container .article .meta {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.article-container .article:hover .heading {
  -webkit-transform: translateY(0.75rem);
          transform: translateY(0.75rem);
}

.article-container .article:hover .meta {
  -webkit-transform: translateY(-0.75rem);
          transform: translateY(-0.75rem);
  opacity: 0;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.container-footer {
  margin-bottom: 3rem;
  text-align: center;
  color: #777;
}

.container-footer span {
  display: inline-block;
  width: 75%;
  font-size: 0.9rem;
}

.videoWrapper {
  position: relative;
  margin: 1rem 0;
  padding-bottom: 40%;
  padding-top: 25px;
  height: 0;
}

@media (max-width: 768px) {
  .videoWrapper {
    padding-bottom: 56.25%;
  }
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.year {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.1rem;
  color: #333;
}

.year::after {
  content: '';
  display: block;
  position: relative;
  top: 0;
  width: 100%;
  height: 1px;
  background: #eee;
  -webkit-transform: translate(0, 0.5rem);
          transform: translate(0, 0.5rem);
  z-index: 0;
}
/*# sourceMappingURL=blog.css.map */